:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  width: 100vw;
  height: 100vh;
}

dialog {
  position: absolute;
  text-align: center;
  border: 3px solid #0000009c;
  border-radius: 5px;
  margin: 0;
}